.container{
    width: 80%;
    paddingTop: 10;
    margin: 20px auto;
    border-bottom: darkgrey 1px solid;
    box-shadow: 2px 4px 0 0 rgba(0,0,0,0.2);
    border-bottom: darkgrey 1px solid;
    font-family: Lato, sans-serif;

}

.columns {
    display: flex;
    flex-direction: row;
}

.leftColumn{
    flex:2;

}

.rightColumn{
    flex:1;
}